@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.heroSection {
  background-image: url("./assets/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
